# ----------------------- TEST DATABASE -----------------------
POSTGRES_USER=lapince_user
POSTGRES_PASSWORD=lapince_password
POSTGRES_DB=lapince_test
POSTGRES_PORT=5433

DATABASE_URL=postgresql://lapince_user:lapince_password@localhost:5433/lapince_test

# ----------------------- API -----------------------
PORT=3001
JWT_SECRET=ma-phrase-secrete-azerty-123456
NODE_ENV=test